/* .example-tree-invisible {
  display: none;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}
.example-tree-node {
  display: block;
}

.example-tree-node .example-tree-node {
  padding-left: 40px;
} */

.search{
  margin: 0 0 10px;
  padding: 5px 6px;
  width: 186px;
}

.main-tree-section{
  position: relative;
  border-top: 1px solid #dad9d9;
  border-bottom: 1px solid #dad9d9;
  overflow: auto;
  height: 500px;
}
.main-tree-section::after{
  content: '';
  display: block;
  clear: both;
}
.tree-section{
  overflow: auto;
}
.tree-section, .sub-tree{
  border-left: 1px solid #dad9d9;
  border-right: 1px solid #dad9d9;
  padding: 0 !important;
  width: 200px;
  height: 100%;
}
.sub-tree{
  /* overflow-x: hidden; */
  overflow-wrap: break-word;
  position: absolute;
  margin-left: 200px;
  top: 0;
}
.sub{
  display: block;
  height: calc(100% - 33px);
  overflow:auto;
}
.tree-heading{
  background-color: #505050;
  color: #fff;
  padding: 7px 10px;
}

/* item */
.tree-nodes-div{
  border-bottom: 1px solid #dad9d9;
}
.tree-nodes-div:hover{
  background-color: #ececec;
}
/* .parent-div:last-of-type > .tree-nodes-div, .child-div:last-of-type > .tree-nodes-div{ 
  border-bottom-color: transparent;
} */

.child-div button:disabled{
  width: 5px;
  vertical-align: middle
}

.opened, .radio-selected{
  background-color: #e5eeff !important;
}
