<input type="text" (input)="filter($event.target.value)">
<div class="main-tree-section">

	<div class="tree-section">
		<div class="tree-heading">
			Categories
		</div>
		<cdk-tree [dataSource]="dataSource" [treeControl]="treeControl" class="sub">
			<!-- This is the tree node template for leaf nodes -->
			<cdk-nested-tree-node *cdkTreeNodeDef="let node" class="child-div">
				<!-- use a disabled button to provide padding for tree leaf -->
				<ng-container *ngIf="node.isVisible">
					<div class="tree-nodes-div" [class.radio-selected]="selectRadio.checked">
            <button mat-icon-button disabled></button>
						<mat-radio-button #selectRadio>{{node.name}}</mat-radio-button>
					</div>
				</ng-container>
			</cdk-nested-tree-node>

			<!-- This is the tree node template for expandable nodes -->
			<cdk-nested-tree-node *cdkTreeNodeDef="let node; when: hasChild" class="parent-div">
				<!-- {{node.isVisible}} -->
				<ng-container *ngIf="node.isVisible">
					<div class="tree-nodes-div" [class.opened]="treeControl.isExpanded(node)">
						<button mat-icon-button [attr.aria-label]="'toggle ' + node.name" (click)="onParent(node)">
              <mat-icon class="mat-icon-rtl-mirror">
                {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
              </mat-icon>
            </button>
						{{node.name}}
					</div>
				</ng-container>

				<div class="sub-tree" *ngIf="treeControl.isExpanded(node)">
					<div class="tree-heading">
						{{node.name}}
					</div>
					<div class="sub">
						<!-- <cdk-virtual-scroll-viewport itemSize="50" minBufferPx="200" maxBufferPx="400" style="height: 100%">
                <ng-container *cdkVirtualFor="let n of node.children"></ng-container> -->
						<ng-container cdkTreeNodeOutlet></ng-container>
						<!-- </cdk-virtual-scroll-viewport> -->
					</div>
				</div>
				<!-- <ng-container [ngTemplateOutlet]="itemTemplate" ngTemplateOutletContext>
						
					</ng-container> -->



			</cdk-nested-tree-node>
		</cdk-tree>
	</div>

</div>