@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.search{
  margin: 0 0 10px;
  padding: 5px 6px;
  width: 186px;
}

.main-tree-section{
  position: relative;
  border-top: 1px solid #dad9d9;
  border-bottom: 1px solid #dad9d9;
  overflow: auto;
  height: 500px;
}
.main-tree-section::after{
  content: '';
  display: block;
  clear: both;
}
.tree-section{
  overflow: auto;
}
.tree-section, .sub-tree{
  border-left: 1px solid #e0e5eb;
  border-right: 1px solid #e0e5eb;
  padding: 0 !important;
  width: 200px;
  height: 100%;
}
.sub-tree{
  /* overflow-x: hidden; */
  overflow-wrap: break-word;
  position: absolute;
  margin-left: 200px;
  top: 0;
}
.sub{
  display: block;
  height: calc(100% - 49px);
  overflow:auto;
}
.tree-heading{
  background-color: #e6ecef;
  padding: 16px 10px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #333333;
}

/* item */
.tree-nodes-div{
  border-bottom: 1px solid #dce1e3;
  /* padding: 11px 50px 11px 50px; */
  padding: 11px 50px 11px 35px;
  position: relative;
  /* transition: all 0.3s ease-in; */
}
.tree-nodes-div:hover{
  background-color: #f7f6f6;
}

.tree-nodes-div h5, .tree-nodes-div h6{
  font-family: Roboto;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #333;
  margin: 0;
  text-transform: capitalize;
}

.tree-nodes-div h6{
  color: #666;
}
.parent-div .tree-nodes-div {
  cursor: pointer;
}
/* .parent-div:last-of-type > .tree-nodes-div, .child-div:last-of-type > .tree-nodes-div{ 
  border-bottom-color: transparent;
} */

.child-div button:disabled{
  width: 5px;
  vertical-align: middle
}

.opened, .radio-selected{
  background-color: #f8fbff !important;
}

.btn-expand, .btn-radio{
  position: absolute;
  right: 0;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
}

.btn-radio{
  right: auto;
  left: 5px;
}

.mat-icon-rtl-mirror{
  color: #999;
}


